* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #1B1C1F;
}
.navigation {
    background-color: #323335;
    border-radius: 24px;
    width: 416px;
    justify-content: center;
}